@model RESTAPI.Controllers.AuthController

@{
    ViewBag.Title = "Register form";
    Layout = "_Layout";
}
    
<h2>Registration</h2>
<form method="post" action="~/Auth/Register">
    <label>Email</label><br> 
    <input class="input-group-sm" type="email" name="email" /><br>
    <label>Password</label><br>
    <input class="input-group-sm" type="password" name="password" />
    <p><input type="submit" class="btn btn-lg btn-success" value="Регистрация" /></p>
</form>